<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,7},{174,77}}</string>
                <key>offset</key>
                <string>{-135,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,49},{174,77}}</string>
                <key>sourceSize</key>
                <string>{602,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button-sprite.png</string>
            <key>size</key>
            <string>{188,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc99dc18fcdfbfb661dd750c295d4751$</string>
            <key>textureFileName</key>
            <string>button-sprite.png</string>
        </dict>
    </dict>
</plist>
